html,
body {
  margin: 0;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
  font-weight: 600;
}

.main-content {
  display: flex;
  flex-direction: row;
  flex-basis: 80%;
  /*flex-basis controls the height, because our parent flex-direction is column*/
  width: 100%;
}

.header,
.footer {
  background-color: #121023;
  flex-basis: 20%;
}

.article {
  background-color: #ffffff;
  color: black;
  flex-grow: 3;
}

.aside {
  background-color: #320388;
  flex-grow: 1;
}

.nav {
  background-color: #c22177;
  flex-grow: 1;
}
